@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ant-btn-primary{
    background-color: rgb(219, 44, 146) !important;;
}
.ant-btn-primary:hover{
    background-color:rgb(219, 44, 146) !important;;
}
.ant-input-outlined:focus{
    outline: 1px solid rgb(219, 44, 146) !important;;
    border: 1px solid rgb(219, 44, 146) !important;;
    box-shadow: none !important;
}
.ant-radio-inner{
    border-color: rgb(219, 44, 146) !important;;
    background-color: white !important;
} */

/* .ant-radio-inner::after{
    background-color: rgb(219, 44, 146) !important;
}

.ant-checkbox-inner{
    border-color: rgb(219, 44, 146) !important;
    background-color:  rgb(219, 44, 146) !important;
}
.ant-input-outlined:hover{
    border: 1px solid  rgb(219, 44, 146) !important;
}

.ant-menu-dark .ant-menu-item-selected, .ant-menu-dark>.ant-menu .ant-menu-item-selected{
    background-color: rgba(245, 245, 245,0.3) !important;
    box-shadow: none;
}

.ant-input.css-dev-only-do-not-override-1okl62o:focus-within{
    border-color:  rgb(219, 44, 146) !important;
    outline: 1px solid  rgb(219, 44, 146) !important;
    border-radius: 3px;
}
.ant-select-open{
    border-color:  rgb(219, 44, 146) !important;
    outline: none !important;
}
.ant-input-outlined:focus, .ant-input-outlined:focus-within:focus{
    border-color: rgb(219, 44, 146) !important;
    box-shadow: none !important;

} */
.ant-input-outlined:focus, .ant-input-outlined:focus-within{
    border: 1px solid rgb(216, 216, 216) !important;
    box-shadow: none !important;
}
.ant-select-selector {
    border-color: rgb(218, 218, 218) !important;
    box-shadow: none !important;
}
/* .ant-select-open .ant-select-selector {
    border-color:  rgb(219, 44, 146) !important;
    box-shadow: none !important;
}
.ant-pagination .ant-pagination-item-active{
    border-color:  rgb(219, 44, 146) !important;
}

.ant-pagination .ant-pagination-item-active a{
    color:  rgb(219, 44, 146) !important;
}
.ant-form-item-required::before{
    content: none !important;
}

.ant-form-item .ant-form-item-explain-error{
    color: rgb(226, 0, 124);
}
.ant-btn-primary{
    background-color: rgb(219, 44, 146) !important;
} */

#nav-menu *{
    color: #FFFF !important;
    font-weight: 100;
}
#nav-menu *::after{
    
   transform: translateY(-15px);
   width: 10px;
   transition: 0.3s
}

#nav-menu *:hover:after{
    border-bottom-color: #FFFF !important;
    transform: translateY(-15px);
    width: 30px;
 }
#nav-menu .ant-menu-item-selected::after{
    border-bottom-color: #FFFF !important;
    width: 30px;
}
.footer_link{
    font-weight: 450;
}
.footer_link:hover{
    color: rgb(219, 44, 146) !important;
}

.ant-collapse-item.ant-collapse-item-active.mb-2.rounded.shadow-sm{
    background-color: rgb(219, 44, 146) !important;
}

/* .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected:hover, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected:hover, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected:hover, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected:hover .ant-menu .ant-menu-title-content{
    color: rgb(219, 44, 146) !important;
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected span{
    color: rgb(219, 44, 146) !important;
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after{
    border-bottom-color: rgb(219, 44, 146) !important;
}

.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, .ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, .ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover, .ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover span{
    color: rgb(219, 44, 146) !important;
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item:hover::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu:hover::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu:hover::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-item-active::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-active::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-active::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-active::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-item-open::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-open::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-open::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-open::after{
    border-bottom-color: rgb(219, 44, 146) !important;
}
.ant-menu-light .ant-menu-item-selected, .ant-menu-light>.ant-menu .ant-menu-item-selected{
    color: rgb(219, 44, 146) !important;
} */
/* .ant-menu-light .ant-menu-item-selected, .ant-menu-light>.ant-menu .ant-menu-item-selected{
    background-color:#fae6f7 !important;
} */

.ant-collapse-header-text{
    font-weight: 150;
}

.ant-layout .ant-layout-sider-trigger{
    background-color: #FFFF !important;
}


.ant-layout .ant-layout-sider{
    background-color: #FFFF !important;
}
.ant-layout .ant-layout-sider-trigger{
    height: 0px !important;
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #6394eb #edf2f7;
  }

.scrollbar-thin::-webkit-scrollbar {
width: 2px;
}

.scrollbar-thin::-webkit-scrollbar-track {
background: #edf2f7;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
background-color: #49a7f3;
border-radius: 4px;
border: 2px solid #edf2f7;
}

.ant-form-item-required::before{
    content: "" !important;
}
.ant-form-item-required::after{
    content: "*" !important;
    width: 20px !important;
    display: block !important;
    color: red;
    font-weight: bold;
}
.ant-form-item-required{
    font-weight: 500;
}

.ant-form-vertical .ant-form-item-label >label::after, .ant-col-24.ant-form-item-label >label::after, .ant-col-xl-24.ant-form-item-label >label::after{
    visibility: visible !important;
}